@font-face {
  font-family: 'fontTitulo';
  src: url(assets/fonts/paola.ttf);
}

.titulo {
  font-family: 'fontTitulo';
  font-size: 25px;
}

.recuo {
  top: -5px;
}

.divider {
  height: 4px;
}

body {
  background-color: #04252d;
}